.venv
.git
.github
__pycache__
.pytest_cache
.env
.env.*
*.pem
*.key
.terraform
*.tfstate
*.tfstate.*
*.tfvars
deploy
tests
business
financial
fundraising
hiring
technical
*.db
*.sqlite3
var
requirements-dev.*
requirements.in
alembic.ini
developer-portal
marketing
